<div class="login-page">
  <div class="login-logo">
    <img class="img-responsive w-100" [src]="logoPath" alt="Lok Fu Rhenish Nursery">
  </div> 
  <div class="form">
    <form class="forgotpw-form" *ngIf="showForgotPWForm">
      <input type="text" placeholder="email address" required/>
      <button>get your password! </button>
      <br><br>
        <a class="login-form-anchor" href="#" (click)="switchForm()">back to Sign In</a>
    </form>
    <form class="login-form" *ngIf="showLoginForm">
      <input type="text" placeholder="username" required/>
      <input type="password" placeholder="password" required/>
      <button>login</button>
      <br><br>
        <a class="login-form-anchor" href="#" (click)="switchForm()">Forgot your password? </a>
    </form>
  </div>
</div>