.checkbox-align-bottom{
  padding-top: 5px;
}

.error-msg-for-datepicker{
  margin-top: .25rem;
  font-size: .875rem;
  color: #dc3545;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}