<div class="reset-password-page">
  
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

  <div class="login-logo">
    <img class="img-responsive w-100" [src]="logoPath" alt="Lok Fu Rhenish Nursery">
  </div>

  <div class="form">
    <!-- reset password form -->
    <h4>Reset Password</h4>
    <br><br>
    <form  [formGroup]="resetPasswordForm" #resetPasswordFormName="ngForm" (ngSubmit)="submitPassword()">
      <div class="error-msg" *ngIf="((resetPasswordForm.controls.newPassword.invalid 
      && (resetPasswordForm.controls.newPassword.touched || resetPasswordForm.controls.newPassword.dirty)) || 
      (resetPasswordForm.controls.confirmPassword.invalid 
      && (resetPasswordForm.controls.confirmPassword.touched || resetPasswordForm.controls.confirmPassword.dirty))) && resetPasswordFormName.submitted">
        <div *ngIf="newPassword.errors?.required || confirmPassword.errors?.required">
          Both password and confirm password are required.
        </div>
        <div *ngIf="newPassword.errors?.minlength">
          Password must be at least 8 characters long.
        </div>
        <div *ngIf="confirmPassword.errors?.minlength">
          Confirm password must be at least 8 characters long.
        </div>
      </div>
      <div class="error-msg" *ngIf="!isPasswordMatch && resetPasswordFormName.submitted">
        Password does not match the confirm password
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="New Password" id="newPassword"
        [ngClass]="{
                  'is-invalid': resetPasswordForm.controls.newPassword.invalid && resetPasswordForm.controls.newPassword.dirty, 
                  'is-valid': resetPasswordForm.controls.newPassword.valid && resetPasswordForm.controls.newPassword.dirty 
                }"
        formControlName="newPassword" required />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Confirm New Password" id="confirmPassword"
        [ngClass]="{
                  'is-invalid': resetPasswordForm.controls.confirmPassword.invalid && resetPasswordForm.controls.confirmPassword.dirty, 
                  'is-valid': resetPasswordForm.controls.confirmPassword.valid && resetPasswordForm.controls.confirmPassword.dirty 
                }"
        formControlName="confirmPassword" required />
      </div>
      <button type="submit">Submit</button>
    </form>
    
  </div>
</div>